nav
{
    background: transparent;
    height: 50px;
}
header
{
    background: rgba(0, 0, 0, 0.4);
}
#banner
{
    background: transparent;
    height: 700px;
}
ul{
    margin: 0px;
}
nav  ul
{
    list-style: none;
    margin: 0;
    float: right;
}
nav ul li, nav .logo
{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}
nav ul li a
{
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: #fff;
}
nav .logo
{
    float: left;
    padding-left:20px
}
.menu
{
    width: 300px;
    height: 600px;
    right: -300px;
    float: right;
    box-shadow: 0px 0px 20px #D8D8D8;
    border-radius: 10px;
    position: relative;
}
.menu .menu-content a
{
    color: #fff;
    text-decoration: none;
}
.menu-content p
{
    text-align: center;
}
#banner .inner
{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 160px;
    color: #fff;
}
#banner .inner h1
{
    margin: 0px;
}
.music-wrapper
{
    width: 355px;
    height: 402px;
    margin: 50px 50px;
    box-shadow: 0px 0px 20px #D8D8D8;
    border-radius: 10px;
    position: absolute;
    z-index: 200;
}
.aa
{
    display: block;
}
.music-info
{
    height: 110px;
    position: relative;
}
.music-info .star-img img
{
    width: 85px;
    height: 85px;
    top: 18px;
    left: 15px;
    position: absolute;
    display: block;
    border-radius: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    box-shadow: rgb(215, 249, 133) 0px 0px 10px;
}
.music-info .star-info
{
    position: absolute;
    top: 53px;
    left: 150px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
.music-time
{
    height: 20px;
}
.music-time .time-cur,.time-sum
{
    font-size: 15px;
    color: greenyellow;
}
.time-cur
{
    margin-left: 40px;
}
.time-sum
{
    margin-left: 30px;
}
.progress-bar
{
    width: 333px;
    height: 13px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #cecfd4;
    position: relative;
    cursor: pointer;
}
.progress
{
    overflow: hidden;
    width: 0;
    height: 13px;
    border-radius: 8px;
    position: absolute;
    background-color: #3792ef;
}
.music-volume
{
    width: 240px;
    height: 5px;
    margin: 0 auto 20px;
    border-radius: 5px;
    background-color: #cecfd4;
    position: relative;
    cursor: pointer;
}
.volume
{
    width: 48px;
    height: 5px;
    border-radius: 5px;
    background-color: #3792ef;
}
.music-doing
{
    height: 66px;
}
.music-doing .music-do
{
    color: aqua;
    display: inline-block;
    margin-top: 25px;
    margin-left: 22px;
}
.music-name
{
    padding: 53px;
    color: lime;
}
.music-button
{
    height: 128px;
    position: relative;
}
.btn-play,.btn-pause,.btn-prev,.btn-next
{
    color: green;
    width: 50px;
    height: 50px;
    border: 2px solid greenyellow;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    cursor: pointer;
}
.btn-prev,.btn-next
{
    color: green;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border: 2px solid greenyellow;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.btn-play,.btn-pause
{
    left: 152px;
    top: 42px;
}
.play
{
    border: 2px solid greenyellow;
}
.pause
{
    border: 2px solid red;
}
.btn-prev
{
    left: 50px;
    top: 53px;
}
.btn-next
{
    top: 53px;
    right: 50px;
}
.music-footer
{
    color: #fff;
    height: 35px;
}
.music-footer ul
{
    list-style: none;
    margin: 0;
    float: left;
}
.music-footer ul li
{
    display: inline-block;
    margin-left: 20px;
    width: 24px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.icon-ama
{
    border: 2px solid greenyellow;
    border-radius: 20px;
}
.icon-ama-click
{
    border: 2px solid red;
}
.icon-ran
{
    background-color: greenyellow;
    border-radius: 20px;
}
.icon-sin
{
    background-color: greenyellow;
    border-radius: 20px;
}
.music-footer .icon-list
{
    width: 40px;
    height: 24px;
    float: right;
    margin-right: 53px;
    background: darkolivegreen;
    cursor: pointer;
    border-radius: 20px;
}
button
{
    border: none;
    background: #333;
    color: #eee;
    padding: 10px;
}
#banner button
{
    padding: 14px 30px;
    top: 20px;
    background: rgba(252, 66, 66, 0.94);
    border-radius: 10px;
}
#banner .inner .more
{
    margin-top: 250px;
}
.sub-heading
{
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0;
}
.logo
{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
hr
{
    font-size: 30px;
}
p{
    font-size: 18px;
    letter-spacing: 1px;
}
.hr
{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}
.green-section
{
    background: #089DB0;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.green-section .hr
{
    background: #078494;
    width: 60%;
}
.green-section .icon-group .icon
{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #0D6F7C;
    transform: rotate(45deg);
    margin: 20px;
}
.icon-group
{
    margin-top: 60px;
}
.wrapper
{
    max-width: 1080px;
    margin: 0 auto;
}
.gray-section
{
    background: #252F34;
    color: #fff;
}
.gray-section .image-section
{
    width: 45%;
}
.image-section img
{
    width: 100%;
}
.gray-section .text-section
{
    width: 55%;
}
.article-preview > div
{
    float: left;
    font-size: 0;
}
.article-preview:nth-child(odd)
{
    background-color: rgba(255, 255, 255, 0.05);
}
.article-preview:after
{
    content: '';
    display: block;
    clear: both;
}
.card-group:after
{
    content: '';
    display: block;
    clear: both;
}
.text-section
{
    position: relative;
    top: 68px;
    left: 50px;
}
.text-section h2
{
    margin-bottom: 20px;
    font-size: 20px;
}
.text-section .sub-heading
{
    font-size: 22px;
    margin-top: 0px;
}
.text-section p
{
    font-size: 18px;
    letter-spacing: 1px;
}
.purple-section
{
    padding: 80px;
    background: #3F3965;
    color: #fff;
}
.purple-section .heading-wrapper
{
    margin: 0 auto;
    text-align: center;
}
.purple-section .hr
{
    background: #373259;
    width: 50%;
}
.card
{
    float:left;
    width:50%;
    min-height:300px;
    padding:50px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.card-group:after{
    content:'';
    display:block;
    clear:both;
}
.card:first-child
{
    background: rgba(0, 0, 0, 0.04);
}
.card:nth-child(2)
{
    background: rgba(0, 0, 0, 0.08);
}
.card:nth-child(3)
{
    background: rgba(0, 0, 0, 0.12);
}
.card:nth-child(4)
{
    background: rgba(0, 0, 0, 0.16);
}
.card:nth-child(5)
{
    background: rgba(0, 0, 0, 0.20);
}
.card:nth-child(6)
{
    background: rgba(0, 0, 0, 0.24);
}
footer
{
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}
ul.share-group
{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}
.share-group li
{
    display: inline-block;
    padding: 10px;
}
.copy
{
    padding-bottom: 20px;
}
.main-wrapper
{
    background: url("../images/chu1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}